h3{
    text-align: center;
    color:green;
}
.manu{

    text-align: center;
    color:red;
    opacity: 1.3px;
}
h6{
    

    
    
    text-align: center;
    color:green;
    
}
.gend{
    text-align: center;
    color: red;
}
h4{
    text-align: center;
    color:green;
}
.box{

    text-align: center;
}
.tr{
    text-align: center;
    color:black;
    border-style: solid;
    border-color:yellow;
}

.add{
    text-align: center;
    color:red;
}
.pic{
    float: left;
}
.ich{

    float: right;
}


.ch{
    color: red;
}
.lee{

    text-align: center;
    color: red;
}
.du{
    text-align: center;
}

