h3{
    text-align: center;
}
.manu{

    text-align: center;
}
h6{
    

    
    
    text-align: center;
    
}
.gend{
    text-align: center;
}
h4{
    text-align: center;
}
.box{

    text-align: center;
}
.tr{
    text-align: center;
}
.once{
    text-align: center;
}